<div class="container py-16 md:py-20" id="work-container">
    <h2 class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl">
      {{'work.title-experience'|translate}}
    </h2>
    <!--h3 class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
      Here's what I did before freelancing
    </h3-->

    <div class="relative mx-auto mt-12 flex w-full flex-col lg:w-2/3">
      <span class="left-2/5 absolute inset-y-0 ml-10 hidden w-0.5 bg-grey-40 md:block"></span>

      <div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
        <div class="md:w-2/5">
          <div class="flex justify-center md:justify-start">
            <span class="shrink-0">
              <img src="assets/img/logo-hbt-company.png" class="h-auto w-32 grayscale-static" alt="company logo" />
            </span>
            <div class="relative ml-3 hidden w-full md:block">
              <span class="absolute inset-x-0 top-1/2 h-0.5 -translate-y-1/2 transform bg-grey-70"></span>
            </div>
          </div>
        </div>
        <div class="md:w-3/5">
          <div class="relative flex md:pl-18">
            <span
              class="absolute left-8 top-1 hidden h-4 w-4 rounded-full border-2 border-grey-40 bg-white md:block"></span>

            <div class="mt-1 flex">
              <i class="bx bxs-right-arrow hidden text-primary md:block"></i>
              <div class="md:-mt-1 md:pl-8">
                <span class="block font-body font-bold text-grey-40">{{'work.heinsohn-time'|translate}}</span>
                <span class="block pt-2 font-header text-xl font-bold uppercase text-primary">{{'work.heinsohn-position'|translate}}</span>
                <div class="pt-2">
                  <span class="block font-body text-black">{{'work.heinsohn'|translate}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
        <div class="md:w-2/5">
          <div class="flex justify-center md:justify-start">
            <span class="shrink-0">
              <img src="assets/img/logo-devpro-company.png" class="h-auto w-16 grayscale-static" alt="company logo" />
            </span>
            <div class="relative ml-3 hidden w-full md:block">
              <span class="absolute inset-x-0 top-1/2 h-0.5 -translate-y-1/2 transform bg-grey-70"></span>
            </div>
          </div>
        </div>
        <div class="md:w-3/5">
          <div class="relative flex md:pl-18">
            <span
              class="absolute left-8 top-1 hidden h-4 w-4 rounded-full border-2 border-grey-40 bg-white md:block"></span>

            <div class="mt-1 flex">
              <i class="bx bxs-right-arrow hidden text-primary md:block"></i>
              <div class="md:-mt-1 md:pl-8">
                <span class="block font-body font-bold text-grey-40">{{'work.devpro-time'|translate}}</span>
                <span class="block pt-2 font-header text-xl font-bold uppercase text-primary">{{'work.devpro-position'|translate}}</span>
                <div class="pt-2">
                  <span class="block font-body text-black">{{'work.devpro'|translate}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
        <div class="md:w-2/5">
          <div class="flex justify-center md:justify-start">
            <span class="shrink-0">
              <img src="assets/img/logo-idea-sol-company.png" class="h-auto w-32 grayscale-static" alt="company logo" />
            </span>
            <div class="relative ml-3 hidden w-full md:block">
              <span class="absolute inset-x-0 top-1/2 h-0.5 -translate-y-1/2 transform bg-grey-70"></span>
            </div>
          </div>
        </div>
        <div class="md:w-3/5">
          <div class="relative flex md:pl-18">
            <span
              class="absolute left-8 top-1 hidden h-4 w-4 rounded-full border-2 border-grey-40 bg-white md:block"></span>

            <div class="mt-1 flex">
              <i class="bx bxs-right-arrow hidden text-primary md:block"></i>
              <div class="md:-mt-1 md:pl-8">
                <span class="block font-body font-bold text-grey-40">{{'work.idea-time'|translate}}</span>
                <span class="block pt-2 font-header text-xl font-bold uppercase text-primary">{{'work.idea-position'|translate}}</span>
                <div class="pt-2">
                  <span class="block font-body text-black">{{'work.idea'|translate}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>