<div class="bg-grey-50" id="clients-container">
    <div class="container py-16 md:py-20">
      <div class="mx-auto w-full sm:w-3/4 lg:w-full">
        <h2 class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl">
          {{'clients.title-client'|translate}}
        </h2>
        <div class="flex flex-wrap items-center justify-center pt-4 sm:pt-4">
          <span *ngFor="let company of companiesList" class="m-8 block">
            <img src="{{company.logo}}" alt="{{company.name}}-logo" class="mx-auto block h-12 w-auto grayscale-logo" />
          </span>
        </div>
      </div>
    </div>
  </div>
