<div class="container py-16 md:py-20" id="portfolio-container">
    <h2 class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl">
      {{'portfolio.title-check'|translate}}
    </h2>
    <h3 class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
      {{'portfolio.subtitle-have-done'|translate}}
    </h3>

    
    <div class="mx-auto grid grid-cols-1 gap-8 md:gap-10 lg:grid-cols-2 pt-12 w-full sm:w-3/4 lg:w-full">
      <a *ngFor="let project of projectList"
          [routerLink]="['/project', project.id]" class="mx-auto transform transition-all hover:scale-105 md:mx-0">
        <img 
          ngSrc="{{project.photo}}" 
          width="1920" 
          height="1080" 
          alt="{{project.title}}-image"
          priority
        />
      </a>
    </div>
</div>
