<div class="bg-grey-50 px-5" id="about-container">
    <div class="container flex flex-col items-center py-16 md:py-20 lg:flex-row">
      <div class="w-full text-center sm:w-3/4 lg:w-3/5 lg:text-left">
        <h2 class="font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl">
          {{'about.who-am-i'|translate}}
        </h2>
        <h4 class="pt-6 font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
          {{'about.profession'|translate}}
        </h4>
        <p class="pt-6 font-body leading-relaxed text-grey-20">
          {{'about.description'|translate}}
        </p>
        <div class="flex flex-col justify-center pt-6 sm:flex-row lg:justify-start">
          <div class="flex items-center justify-center sm:justify-start">
            <p class="font-body text-lg font-semibold uppercase text-grey-20">
              {{'about.connect-with-me'|translate}}
            </p>
            <div class="hidden sm:block">
              <i class="bx bx-chevron-right text-2xl text-primary"></i>
            </div>
          </div>
          <div class="flex items-center justify-center pt-5 pl-2 sm:justify-start sm:pt-0">
            <a href="/" class="pl-4">
              <i class="bx bxl-dribbble text-2xl text-primary hover:text-yellow"></i>
            </a>
            <a href="https://www.linkedin.com/in/sebastian-vargas-dev/" target="_blank" rel="noopener noreferrer" class="pl-4">
              <i class="bx bxl-linkedin text-2xl text-primary hover:text-yellow"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="w-full pl-0 pt-10 sm:w-3/4 lg:w-2/5 lg:pl-12 lg:pt-0">
        <div>
          <div class="flex items-end justify-between">
            <h4 class="font-body font-semibold uppercase text-black">
              Front (Angular, React, ionic)
            </h4>
            <h3 class="font-body text-3xl font-bold text-primary">90%</h3>
          </div>
          <div class="mt-2 h-3 w-full rounded-full bg-lila">
            <div class="h-3 rounded-full bg-primary" style="width: 90%"></div>
          </div>
        </div>
        <div class="pt-6">
          <div class="flex items-end justify-between">
            <h4 class="font-body font-semibold uppercase text-black">
              HTML & CSS (Tailwind, Bootstrap, Material)
            </h4>
            <h3 class="font-body text-3xl font-bold text-primary">85%</h3>
          </div>
          <div class="mt-2 h-3 w-full rounded-full bg-lila">
            <div class="h-3 rounded-full bg-primary" style="width: 85%"></div>
          </div>
        </div>
        <div class="pt-6">
          <div class="flex items-end justify-between">
            <h4 class="font-body font-semibold uppercase text-black">Back (PHP, Java, Spring)</h4>
            <h3 class="font-body text-3xl font-bold text-primary">60%</h3>
          </div>
          <div class="mt-2 h-3 w-full rounded-full bg-lila">
            <div class="h-3 rounded-full bg-primary" style="width: 60%"></div>
          </div>
        </div>
        <div class="pt-6">
          <div class="flex items-end justify-between">
            <h4 class="font-body font-semibold uppercase text-black">Python</h4>
            <h3 class="font-body text-3xl font-bold text-primary">75%</h3>
          </div>
          <div class="mt-2 h-3 w-full rounded-full bg-lila">
            <div class="h-3 rounded-full bg-primary" style="width: 75%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>