<div id="blog-container">
    <div class="container py-16 md:py-20">
      <h2 class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl">
        {{'blog.like'|translate}}
      </h2>
      <!--h4 class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
        Check out my latest posts!
      </h4-->
      <div class="mx-auto grid w-full grid-cols-1 gap-6 pt-12 sm:w-3/4 lg:w-full lg:grid-cols-3 xl:gap-10">

        <a href="https://www.google.com.co/books/edition/La_vida_secreta_de_la_mente/hH6UCgAAQBAJ?hl=es-419&gbpv=0" target="_blank" class="shadow">
          <div style="background-image: url(assets/img/post-neural.jpg)"
            class="group relative h-72 bg-cover bg-center bg-no-repeat sm:h-84 lg:h-64 xl:h-72">
            <span
              class="absolute inset-0 block bg-gradient-to-b from-blog-gradient-from to-blog-gradient-to bg-cover bg-center bg-no-repeat opacity-10 transition-opacity group-hover:opacity-50"></span>
            <span
              class="absolute right-0 bottom-0 mr-4 mb-4 block rounded-full border-2 border-white px-6 py-2 text-center font-body text-sm font-bold uppercase text-white md:text-base">
              {{'blog.read-more'|translate}}
            </span>
          </div>
          <div class="bg-white py-6 px-5 xl:py-8">
            <span class="block font-body text-lg font-semibold text-black">{{'blog.neural'|translate}}</span>
            <span class="block pt-2 font-body text-grey-20">{{'blog.neural-description'|translate}}</span>
          </div>
        </a>

        <a href="https://science.nasa.gov/mission/webb/" target="_blank" class="shadow">
          <div style="background-image: url(assets/img/post-space.jpg)"
            class="group relative h-72 bg-cover bg-center bg-no-repeat sm:h-84 lg:h-64 xl:h-72">
            <span
              class="absolute inset-0 block bg-gradient-to-b from-blog-gradient-from to-blog-gradient-to bg-cover bg-center bg-no-repeat opacity-10 transition-opacity group-hover:opacity-50"></span>
            <span
              class="absolute right-0 bottom-0 mr-4 mb-4 block rounded-full border-2 border-white px-6 py-2 text-center font-body text-sm font-bold uppercase text-white md:text-base">
              {{'blog.read-more'|translate}}
            </span>
          </div>
          <div class="bg-white py-6 px-5 xl:py-8">
            <span class="block font-body text-lg font-semibold text-black">{{'blog.space'|translate}}</span>
            <span class="block pt-2 font-body text-grey-20">{{'blog.space-description'|translate}}</span>
          </div>
        </a>
        <a href="https://www.nytimes.com/2024/10/16/business/energy-environment/amazon-google-microsoft-nuclear-energy.html"  target="_blank"  class="shadow">
          <div style="background-image: url(assets/img/post-ia.jpg)"
            class="group relative h-72 bg-cover bg-center bg-no-repeat sm:h-84 lg:h-64 xl:h-72">
            <span
              class="absolute inset-0 block bg-gradient-to-b from-blog-gradient-from to-blog-gradient-to bg-cover bg-center bg-no-repeat opacity-10 transition-opacity group-hover:opacity-50"></span>
            <span
              class="absolute right-0 bottom-0 mr-4 mb-4 block rounded-full border-2 border-white px-6 py-2 text-center font-body text-sm font-bold uppercase text-white md:text-base">
              {{'blog.read-more'|translate}}
            </span>
          </div>
          <div class="bg-white py-6 px-5 xl:py-8">
            <span class="block font-body text-lg font-semibold text-black">{{'blog.ia'|translate}}</span>
            <span class="block pt-2 font-body text-grey-20">{{'blog.ia-description'|translate}}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
