<div class="container py-16 md:py-20" id="services-container">
    <h2 class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl">
        {{'services.title-im-good-at'|translate}}
      </h2>
      <!--h3 class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
        These are the services Ioffer
      </h3-->

      <div class="grid grid-cols-1 gap-6 pt-10 sm:grid-cols-2 md:gap-10 md:pt-12 lg:grid-cols-3">
        <div class="group rounded px-8 py-12 shadow hover:bg-primary">
          <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
            <div class="hidden group-hover:block">
              <img src="assets/img/icon-development-white.svg" alt="development icon" />
            </div>
            <div class="block group-hover:hidden">
              <img src="assets/img/icon-development-black.svg" alt="development icon" />
            </div>
          </div>
          <div class="text-center">
            <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">
              {{'services.web-development'|translate}}
            </h3>
            <!--p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p-->
          </div>
        </div>
        <div class="group rounded px-8 py-12 shadow hover:bg-primary">
          <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
            <div class="hidden group-hover:block">
              <img src="assets/img/icon-graphics-white.svg" alt="architecture icon" />
            </div>
            <div class="block group-hover:hidden">
              <img src="assets/img/icon-graphics-black.svg" alt="architecture icon" />
            </div>
          </div>
          <div class="text-center">
            <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">
              {{'services.software-architecture'|translate}}
            </h3>
          </div>
        </div>
        <div class="group rounded px-8 py-12 shadow hover:bg-primary">
          <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
            <div class="hidden group-hover:block">
              <img src="assets/img/icon-mobile-white.svg" alt="Mobile Application icon" />
            </div>
            <div class="block group-hover:hidden">
              <img src="assets/img/icon-mobile-black.svg" alt="Mobile Application icon" />
            </div>
          </div>
          <div class="text-center">
            <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">
              {{'services.mobile-development'|translate}}
            </h3>
          </div>
        </div>
        <div class="group rounded px-8 py-12 shadow hover:bg-primary">
          <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
            <div class="hidden group-hover:block">
              <img src="assets/img/icon-data-base-white.png" alt="data base icon" />
            </div>
            <div class="block group-hover:hidden">
              <img src="assets/img/icon-data-base-black.png" alt="data base icon" />
            </div>
          </div>
          <div class="text-center">
            <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">
              {{'services.data-base'|translate}}
            </h3>
          </div>
        </div>
        <div class="group rounded px-8 py-12 shadow hover:bg-primary">
          <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
            <div class="hidden group-hover:block">
              <img src="assets/img/icon-design-white.svg" alt="Theme Design icon" />
            </div>
            <div class="block group-hover:hidden">
              <img src="assets/img/icon-design-black.svg" alt="Theme Design icon" />
            </div>
          </div>
          <div class="text-center">
            <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">
              {{'services.design'|translate}}
            </h3>
          </div>
        </div>
        <div class="group rounded px-8 py-12 shadow hover:bg-primary">
          <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
            <div class="hidden group-hover:block">
              <img src="assets/img/icon-content-white.svg" alt="data-analysis icon" />
            </div>
            <div class="block group-hover:hidden">
              <img src="assets/img/icon-content-black.svg" alt="data-analysis icon" />
            </div>
          </div>
          <div class="text-center">
            <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">
              {{'services.data-analysis'|translate}}
            </h3>
          </div>
        </div>
      </div>
</div>