<div id="about">
    <app-about></app-about>
</div>


<div id="services">
    @defer (on viewport) {
        <app-services></app-services>
    } @placeholder {
        <div class="h-80"></div>
    }
</div>

<div id="portfolio">
    @defer (on viewport) {
        <app-portfolio></app-portfolio>
    } @placeholder {
        <div class="h-80 w-full bg-gray-200 animate-pulse"></div>
    }
</div>


<div id="clients">
    @defer (on viewport) {
        <app-clients></app-clients>
    } @placeholder {
        <div class="h-40"></div>
    }
</div>


<div id="work">
    @defer (on viewport) {
        <app-work></app-work>
    } @placeholder {
        <div class="h-80"></div>
    }
</div>

<div id="other-projects">
    @defer (on viewport) {
        <app-other-projects></app-other-projects>
    } @placeholder {
        <div class="h-80"></div>
    }
</div>

<div id="statistics">
    @defer (on viewport) {
        <app-statistics></app-statistics>
    } @placeholder {
        <div class="h-40"></div>
    }
</div>


<div id="blog">
    @defer (on viewport) {
        <app-blog></app-blog>
    } @placeholder {
        <div class="h-80"></div>
    }
</div>


<div id="contact">
    @defer (on viewport) {
        <app-contact></app-contact>
    } @placeholder {
        <div class="h-60"></div>
    }
</div>